.guding{
	position: fixed;
	top: 44px;
	z-index: 10;
}
.header{
	z-index: 5;
}
.body{
	padding-top: 209px;
}
.content_dichan{
	width: 100%;
	position: relative;
}
.left_dichan {
	position: fixed;
	left: 0;
	width:28%;
	height: 100%;
	background-color:rgb(237,239,240);
}
.right_dichan{
	width: 72%;
	margin-left: 28%;
	float: right;
	padding-left:3%;
	box-sizing: border-box;

}
.fenlei{
	height:60px;
	line-height: 60px;
	font-size: 1.4rem;
	text-align: center;
	background-color: rgb(237,239,240);
	border-left:6px solid rgb(237,239,240);

}
.right_dichan>p{
	line-height: 105px;
}
.xinhedan{
	width: 88px;
	vertical-align: top;
}
.laba{
	width: 17px;
	vertical-align: middle;
}
.right_dichan>div>div{
	display: inline-block;
	padding-left: 3%;
}
.right_dichan>div{
	border-bottom: 2px solid rgb(208,206,207);
	padding: 3% 0;
}
.right_dichan>div>div>p:nth-of-type(1){

	font-size: 1.2rem;
	line-height: 30px;
	color:black;
}
.right_dichan>div>div>p,.right_dichan>div>div span{
	font-size: 1rem;
	line-height: 20px;
	color: rgb(153,151,153);
}
.active1{
	background-color: rgb(223,224,225);
	border-left:6px solid rgb(232,125,12);
}