.month{
	width: 100%;
	background-color: white;
}
.which-month,.deal{
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 3%;
	padding-right: 5%;
	box-sizing: border-box;
}
.which-month{
	height: 36px;
	background-color: #f2f2f2;
	font-size: 1.8rem;
	color: #666;
	line-height: 36px;
}
.deal{
	height: 58px;
}
.deal>div{
	width: 50%;
	float: left;
	height: 100%;
	float: left;
}
.deal>div:nth-of-type(2){
	text-align: right;
}
.charge-word{
	line-height: 33px;
}
.charge-word,.deal-time{
	font-size: 1.5rem;
	color: #1a1a1a;
}
.charge-num{
	font-size: 1.5rem;
	color: #1a1a1a;
	line-height: 34px;
}
.deal-time{
	color: #666;
}
