.now-pwd,.new-pwd,.confirm-pwd{
	width: 94%;
	margin-left: 3%;
	height: 45px;
	line-height: 45px;
	font-size: 1.5rem;
	color: #808080;
	background-color: #fff;
	border-radius: 6px;
	border:1px solid #dbdbdb;

}
.now-pwd{
	margin:1% 3%;
	margin-top: 20px;
}
.now-pwd span,.new-pwd span,.confirm-pwd span{
	line-height: 45px;
	margin-left: 4%;
}
.now-pwd input,.new-pwd input,.confirm-pwd input{
	border:none;
	height: 25px;
	line-height: 25px;
	font-size: 1.5rem;
	color: #808080;
	width: 55%;
	float: right;
	margin-right: 10%;
	margin-top: 10px;

}
.new-pwd{
	margin-top: 11px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom:none;
}
.confirm-pwd{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.notice{
	margin-top: 12px;
	margin-left: 3%;
	font-size: 1.2rem;
	color: #808080;
	display: inline-block;
}