body,html{
	width: 100%;
}
body{
	padding-top: 44px;
	position: relative;
	padding-bottom: 50px;
	max-width: 750px;
}
.header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: rgb(242,144,4);
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: border-box;
}

footer{
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*background-color: red;*/
}
footer div{
	width: 20%;
	height: 100%;
	float: left;
}
.footer1{
	background: url(../img/max-icon.png) no-repeat;
	background-size: 320px 89px;
	background-position: -8% -20%;
	background-color: white;
}
.footer2{
	background: url(../img/max-icon.png) no-repeat;
	background-size: 320px 89px;
	background-position: 21% -20%;
	background-color: white;
}
.footer3{
	background: url(../img/max-icon.png) no-repeat;
	background-size: 320px 89px;
	background-position: 50% -20%;
	background-color: white;
}
.footer4{
	background: url(../img/max-icon.png) no-repeat;
	background-size: 320px 89px;
	background-position: 79% -20%;
	background-color: white;
}
.footer5{
	background: url(../img/max-icon.png) no-repeat;
	background-size: 320px 89px;
	background-position: 108% 116%;
	background-color: white;
}